/* import bg from "./" */
/* import image_reptik from "../assets/reptik_image.jpg"; */


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Poppins&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
  /* background-color: rgb(139, 223, 212); */
  /* Replace with your desired image URL */
background-image: url('./assets/bg_expense.jpg'); 
background-size: cover;          /* Ensures the image covers the entire element */
background-position: center;     /* Centers the image */
background-repeat: no-repeat;    /* Prevents the image from repeating */



}